.error {
    color: #F00 !important;
}

.form-pass-login {
    position: relative;
}

.form-pass-login>input {
    padding-right: 40px;
}

.icon-eyes {
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate(-50%, 55%);
    font-size: 1.3rem !important;
    cursor: pointer;
}

.nav-header-admin {
    background-color: #fff !important;
}

.nav-header-admin .brand-logo .logo-text-admin{
    font-weight: 600;
    font-size: 1.8rem;
    color: darkblue;
}

.avatar-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img-profile {
    width: 150px;
    height: 150px;
    height: attr(width);
    object-fit: cover;
}

.close-cate-form,
.close-type-form {
    font-size: 1.5rem !important;
    cursor: pointer;
}

.switch-toggle[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.switch-btn {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	height: 20px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

.switch-btn:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 4px;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

.switch-toggle:checked + .switch-btn {
	background: #843cf6;
}

.switch-toggle:checked + .switch-btn:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.btn-sort-num:checked + label,
.btn-sort-alpha:checked + label {
    background-color: #fc5286;
    border: 1px solid #fc5286;
}