* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.f-size {
    font-size: 1rem !important;
}

.modal,#detail-product {
    width: 100%;
    min-height: 100%;
    background: rgba(191, 191, 191, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

#detail-product {
    position: fixed;
    z-index: 1055;
}

.modal .image-preview {
    position: fixed;
    top: 0;
    right: 0;
}

.modal img {
    width: auto;
    height: 500px;
}

.modal span.close-img-modal {
    position: relative;
    top: -250px;
    font-size: 1.5rem;
    cursor: pointer;
}

.error {
    color: #F00 !important;
}

.form-pass-login {
    position: relative;
}

.form-pass-login>input {
    padding-right: 40px;
}

.icon-eyes {
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate(-50%, 55%);
    font-size: 1.3rem !important;
    cursor: pointer;
}

.nav-header-admin {
    background-color: #fff !important;
}

.nav-header-admin .brand-logo .logo-text-admin{
    font-weight: 600;
    font-size: 1.8rem;
    color: darkblue;
}

.avatar-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img-profile {
    width: 150px;
    height: 150px;
    height: attr(width);
    object-fit: cover;
}

.close-cate-form,
.close-type-form {
    font-size: 1.5rem !important;
    cursor: pointer;
}

.switch-toggle[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.switch-btn {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	height: 20px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

.switch-btn:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 4px;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

.switch-toggle:checked + .switch-btn {
	background: #843cf6;
}

.switch-toggle:checked + .switch-btn:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.btn-sort-num:checked + label,
.btn-sort-alpha:checked + label {
    background-color: #fc5286;
    border: 1px solid #fc5286;
}

.pagination {
    margin: 0px;
    justify-content: right;
}

.pagination li {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
}

.pagination li.active {
    background-color: #7571f9;
    border-color: #7571f9;
}

.pagination li.active a {
    color: #fff !important;
}

.text-d-none {
    text-decoration: none !important;
}

.cursor-pointer {
    cursor: pointer !important;
}
.detail-block {
    position: absolute;
    text-align: right;
    width: 45%;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.detail-top {
    display: flex;
}
.product-description {
    text-align: justify;
}
.price-block {
    font-size: 1rem;
    font-weight: bold;
    margin: 5px 0px;
}
.price, .price-old {
    font-weight: 300;
    font-size: 0.9rem;
}
.price-old {
    text-decoration: line-through;
}
.detail-infor {
    font-size: 1rem;
    font-weight: bold;
}
.detail-infor span {
    font-weight: 300;
    font-size: 0.9rem;
}
.close-detail-block {
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 1.5rem;
    cursor: pointer;
}
.nk-sidebar {
    float: left;
    width: 15.1875rem;
    padding-bottom: none !important;
    height: 100vh;
    overflow: auto;
    position: none !important;
    top: 5rem;
    padding-top: 0;
    z-index: 99;
    background: #fff;
    transition: all .2s ease;
}
.footer {
    padding-left: 0px;
    background-color: none;
}