.category-top {
    padding: 15px;
}
#sort_category {
    border-radius: 0;
    /* text-align: center; */
    font-size: 0.9rem;
    padding: 2px 10px;
    outline: none;
}
.category-top-title {
    margin-right: 10px;
}
.category-filter-left {
    margin-left: 1rem;
    width: 270px;
}
.type-filter .type-filter-element {
    padding: 0.2rem 0.5rem;
}
.type-filter .type-filter-element label {
    font-weight: 400;
    cursor: pointer;
}
.type-filter .type-filter-element .active {
    color: rgb(255, 220, 104) !important;
}
.type-filter .type-filter-element label:hover {
    color: rgb(255, 220, 104) !important;
}
#rangeslider {
    width: 80%;
}
.sizes-product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 136px;
}
.sizes-product .checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50px;
    height: 30px;
    font-size: 1rem;
    margin-right: 0.6rem;
}
.sizes-product .checkbox label {
    margin-bottom: 0;
    margin-right: 10px;
}
.sizes-product .checkbox input {
    display: block;
    width: 15px;
    height: 15px;
}
.size-title {
    font-weight: bold;
    margin-bottom: 5px;
}
.product-wrapper-category {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.product-wrapper-category .product {
    margin-left: 0.4rem;
    margin-bottom: 0.4rem;
}
.price-range .price-filter {
    display: flex;
    align-items: center;
}
.price-range > input {
    border: 0px;
}
.price-range label {
    margin-top: 7px;
    border: 0;
    background-color: none;
    font-weight: bolder;
    margin-left: 5px;
    font-size: 0.9rem;
}