.customer_checkout {
    margin: 2rem auto;
    border: 1px solid #dee2e6;
    padding: 1.5rem;
}
.checkout_element {
    margin: 0 auto !important;
}
.customer_checkout .link_to_login a {
    color: #111;
}
.order_custom .form-control {
    border-radius: 0;
}
.payment_method {
    width: 70%;
    margin-left: 4rem;
}

.payment_method .form-wrapper {
    margin-top: 1.5rem;
    border: 1px solid #dee2e6;
    padding: 1rem 1.5rem;
}
.more_comment p {
    margin-left: 2rem;
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    color: #111
}
.payment input, .banking input {
    margin-bottom: 0px;
    margin-right: 10px;
    margin-top: 5px;
}

.payment label, .banking label {
    margin-bottom: 0px;
}

.payment-shop {
    margin-top: 2rem;
}

.payment-shop .btn_payment {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0.4rem 2rem;
    font-weight: 400;
    background-color: rgb(31, 30, 30);
    border: 1px solid rgb(31, 30, 30);
    color:#fff;
}
.payment-shop .btn_payment:hover {
    color: #fff !important;
}